@inherits LayoutComponentBase

<div class="main">
    <div class="topbar">
        <NavMenu OnHeaderPress="@(s => AppState.SideBarItems = s)"/>
    </div>
    <div class="@CollapseClass">
        @foreach(var item in AppState.SideBarItems)
        {
            <div> @item</div>
        }
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>

@code {
string CollapseClass => AppState.HideSideBar ? "collapse" : "sidebar";
}